.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 70vw;
  background-color: #282c34;
  padding: 0.3rem;
}
.App p,
.App h1 {
  margin: 0;
}
.App-header {
  background-color: rgba(255, 255, 255, 0.1);
  height: 25vh;
  width: 71vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.dayList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 70vw;
  height: 75vh;
  padding: 0.2rem;
  overflow-y: auto;
  color: white;
  text-transform: uppercase;
}
.dayItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  min-width: 250px;
  height: auto;
  background: rgba(255, 255, 255, 0.2);
  margin: 0.25rem 0;
  padding: 0.4rem 0;
  border-radius: 0.5rem;
}
.itemWeather {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  font-size: 1.7rem;
}
.itemIcon {
  width: 58%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 2%;
  min-width: 10rem;
}
.itemIcon img {
  margin: 0 0 -0.8rem 0;
}
.itemIcon p {
  margin: 0 0 10px 0;
}
.header-desc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 95%;
  min-height: 50%;
}
.header-desc h1,
.header-desc .currentTemp {
  width: 25%;
  min-width: 8rem;
}
.header-desc h1 {
  text-align: left;
}
.header-desc .currentTemp {
  text-align: right;
  font-size: 2rem;
}
.time {
  width: 25%;
  min-width: 5rem;
  height: 3rem;
  font-size: 1.1rem;
  background-color: rgba(26, 26, 26, 0.2);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.progress-bar {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  min-height: 40%;
}
.progress-bar p {
  font-size: 0.8rem;
}
.bar-wrapper {
  width: 100%;
  height: 1rem;
  background-color: rgb(26, 26, 26);
  align-self: center;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.bar-progress {
  background-color: rgb(236, 110, 76);
  height: 1rem;
  transition: all 500ms ease;
  border-radius: 1rem;
}
